<!-- Modal -->
<div id="update-challenge" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title">Update challenge</h3>
			</div>
			<div class="modal_form_container" style="background: #fbfbfb">
			  <form class="well" ng-submit="updateChallenge(challenge)">
			    <input ng-model="challenge.name" class="form-control" type="text" name="name" placeholder="Challenege name" required/>
			    <textarea ng-model="challenge.description" class="form-control" type="text" name="description" rows="10" placeholder="Challenege description" required/></textarea>
			    <label style="margin: 10px 0 0 0">Select language(s): </label>
		    	<ul id="languages-list">
		    		<li ng-repeat="language in languages" class="checkbox">
		    			<label>
		    				<input ng-if="challenge" type="checkbox" ng-model="challenge.languages[language.name]">
		    				{{language.name}}
		    			</label>	
		    		</li>
		    	</ul>
  				<div class="modal-footer">
  					<button type="submit" class="btn btn-primary">Update</button>
  					<button type="button" id="close-update" class="btn btn-default" data-dismiss="modal">Cancel</button>
  				</div>
				</form>
			</div>		
		</div>
	</div>
</div>