<!DOCTYPE html>
<html>
  <head>
    <title>RakÜN | {{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="icon" href="/images/favicon.ico" type="image/ico" />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a id="logo" class="navbar-brand" href="/"><img src="/images/raccoon.png"/><span>RakÜN</span></a>
        </div>
      </div>
    </nav>
    <div id="content-wrapper" class="container">
      {{{body}}}
    </div>
    <footer>
      <div>
        © Rakuten Über Nerds {{year}}
      </div>
    </footer>
  </body>
</html>
