<ul class="breadcrumb">
  <li><a ng-href="/challenges">Home</a></li>
  <li><a class="active">Challenges</a></li>
</ul>

<h2>Challenges</h2>

<table id="challenges" class="table table-striped">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Languages</th>
  </tr>
  <tr ng-repeat="challenge in challenges">
    <td>{{$index+1}}. </td>
    <td><a href="/challenges/{{challenge.slug}}">{{challenge.name}}</a></td>
    <td>
      <ul class="languages-icons">
        <li ng-repeat="language in challenge.languages">
          <a><img src="/images/{{(language.name).toLowerCase()}}-icon.png" fade-in/></a>
        </li>
      </ul>
    </td>
</table>

    
